@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main-container {
  flex: 1;
  display: flex;
}

.menu {
  flex: 1.25;
  display: flex;
  flex-direction: column;
  margin: 24px 24px 0px 24px;
  border-radius: 24px;
  background-color: rgba(244, 244, 244, 255);
}

.menu-title {
  margin: 16px 24px;
  font-size: 32px;
  font-weight: 600;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  margin: 16px 24px;
  font-size: 20px;
  font-weight: 600;
}

.add-project-button {
  margin: 16px 24px;
  height: 100%;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(45, 92, 248, 255);
  border-style: none;
  border-radius: 8px;
  background-color: rgba(227, 235, 250, 255);
}

.main {
  flex: 4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-github {
  font-size: 24px;
  color: #6e5494;
  transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
  color: #8a77a5;
}
