@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main-container {
  flex: 1;
}

.menu {
  display: flex;
  border-radius: 24px;
  background-color: rgba(244, 244, 244, 255);
}

.menu-title {
  font-size: 24px;
  font-weight: 600;
}

.main {
  flex: 3;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-github {
  font-size: 24px;
  color: #6e5494;
  transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
  color: #8a77a5;
}
